<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="portrait of zhi" />
        {% endif %}

        <p>{{ site.job_title }} <br> {{ site.school }} </p>
        <p>{{ site.email }}</p>
        
        <p class="view"><a href="https://www.dropbox.com/s/s1je5jdr6f7iaz0/20221121-xiang_zhi_%20tan_cv.pdf?dl=0">View My CV</a></p>
        <p class="view"><a href="{{ site.scholar_url }}">View My Google Scholar Profile</a></p>
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>
      
      {{ content }}
      
      <h1>Research</h1>
      {% for project in site.data.projects %}
        <h3>{{ project.title }}</h3>
        <div class="research-tile">
          <div class="research-img">
            <img src="{{ project.image }}" alt="{{project.alt-text}}" />
          </div>
          <div class="research-description">
            <p>{{ project.description }}</p>
          </div>
        </div>
      {% endfor %}

      <br><br><br>

      <h1>Other Projects</h1>
      {% for project in site.data.smaller-projects %}
        <h3>{{ project.title }}</h3>
        <div class="research-tile">
          <div class="research-img">
            <img src="{{ project.image }}" alt="{{project.alt-text}}" />
          </div>
          <div class="research-description">
            <p>{{ project.description }}</p>
          </div>
        </div>
      {% endfor %}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
